:root {
  --ion-color-primary: #423735;
  --ion-color-primary-rgb: 66, 55, 53;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a302f;
  --ion-color-primary-tint: #554b49;

  --ion-color-secondary: #2b2525;
  --ion-color-secondary-rgb: 43, 37, 37;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #262121;
  --ion-color-secondary-tint: #403b3b;

  --ion-color-tertiary: #201614;
  --ion-color-tertiary-rgb: 32, 22, 20;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #1c1312;
  --ion-color-tertiary-tint: #362d2c;

  --ion-color-success: #9cb573;
  --ion-color-success-rgb: 156, 181, 115;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #899f65;
  --ion-color-success-tint: #a6bc81;

  --ion-color-warning: #d5c652;
  --ion-color-warning-rgb: 213, 198, 82;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #bbae48;
  --ion-color-warning-tint: #d9cc63;

  --ion-color-danger: #cc3f47;
  --ion-color-danger-rgb: 204, 63, 71;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b4373e;
  --ion-color-danger-tint: #d15259;

  --ion-color-medium: #c7ac74;
  --ion-color-medium-rgb: 199, 172, 116;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #af9766;
  --ion-color-medium-tint: #cdb482;

  --ion-color-light: #d5be93;
  --ion-color-light-rgb: 213, 190, 147;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #bba781;
  --ion-color-light-tint: #d9c59e;
}
