<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{'pages.home.title' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <form [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <ion-icon name="speedometer" slot="start" [color]="form.canSubmit() ? 'success' : 'danger' "></ion-icon>
        <ion-input formControlName="initiative" type="number" [placeholder]="'pages.home.inputPlaceholder' | translate"
          autofocus="true" clearInput>
        </ion-input>
        <ion-button type="submit" [disabled]="!form.canSubmit()">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    {{ currentInitative | translate }}
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col no-padding size="3">
        <ion-select [value]="currentLanguage" (ionChange)="languageChanged($event)" interface="popover">
          <ion-select-option *ngFor="let language of getLanguages()" [value]="language">{{ language }}
          </ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col no-padding size="9">
        <ion-select [(ngModel)]="currentLevel" (ionChange)="levelChanged($event)" interface="popover">
          <ion-select-option *ngFor="let level of getLevels()" [value]="level">{{ 'pages.home.level.' + level |
            translate }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>