<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{'pages.home.title' | translate }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <form [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <ion-icon name="speedometer" slot="start" [color]="form.canSubmit() ? 'success' : 'danger' "></ion-icon>
        <ion-input formControlName="initiative" type="number" [placeholder]="'pages.home.inputPlaceholder' | translate"
          autofocus="true" clearInput>
        </ion-input>
        <ion-button type="submit" [disabled]="!form.canSubmit()">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>